apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
  - name: ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/schedulechecker_fe
    newName: ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/schedulechecker_fe
    newTag: latest
resources:
  - ../../base
patchesStrategicMerge:
  - front-deployment-patch.yaml
  - front-service-patch.yaml
